/* Write your CSS here */
.bg-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.heading {
  color: white;
  font-family: 'Roboto';
}

.paragraph {
  color: white;
  font-family: 'Roboto';
  font-size: 25px;
}

.image {
  width: 70%;
}

.btn-container {
  display: flex;
  align-items: center;
}

.button1 {
  background-color: #0b69ff;
  border: 0px;
  border-radius: 10px;
  color: white;
  font-family: 'Roboto';
  height: 30px;
  width: 90px;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
}

.button2 {
  background-color: transparent;
  border: 2px white solid;
  border-radius: 10px;
  color: white;
  font-family: 'Roboto';
  height: 30px;
  width: 90px;
  cursor: pointer;
  outline: none;
}
